@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<!-- The Coding Video Background Loop -->
<div class="container body-content">
    <video autoplay muted loop id="myVideo">
        <source src="~/Video/backgroundvideo.mp4" type="video/mp4">
    </video>

    <div class="header">
        <div class="mainname">
            <h1>Gary Gillespie</h1>
        </div>
        <h1>
            Graduate
            <span class="txt-rotate"
                  data-period="2000"
                  data-rotate='[ "Web Developer", "Games Developer", "Software Engineer", "QA Tester", "Fullstack Developer", "" ]'></span>
        </h1>
        <h2>Browse some of my previous projects below.</h2>
    </div>

    <br />
    <br />
</div>

<!-- Projects -->
<div data-aos="slide-right">
    <div class="scrolling-section">
        <button class="svg"  onclick="location.href='http://totallyoddlanding.azurewebsites.net/';">Visit Website</button>
        <button class="svg" onclick="location.href='https://github.com/ggillespie948/Totally-Odd---Number-Game';" >GitHub</button>
        <button class="svg"  onclick="location.href='https://play.google.com/store/apps/details?id=com.ApexStudios.OddityAlpha&hl=en';">Android</button>
        <button class="svg"  onclick="location.href='https://itunes.apple.com/us/app/totally-odd-number-game/id1437309450?mt=8';">iOS</button>
        <h2 style="font-weight:bold; color:white;">Totally Odd - Number Game (Android, iOS)</h2>

        <div class="col-lg-7">
            <img class="totallyOddImg" src="~/Image/p5.jpg" />
            <img class="totallyOddImg" src="~/Image/p2.jpg" />
            <img class="totallyOddImg" src="~/Image/p1.jpg" />
            <img class="totallyOddImg" src="~/Image/p4.jpg" />
        </div>
        <div class="col-lg-5">
            <p> This game was developed for a local boardgame developer. I saw the project from conception to live operation. Written in Unity and C#. The consists of more than 100 levels, multiple game modes, a complex AI opponent engine, more than 30 in-game unlockable cosmetics, online leaderboards, a referal system, daily challenges, in-app purchases with receipt validation and much more.   </p>
            <p> The game utilises Microsoft's Playfab to implement a cloud-based game server. Server-side logic is written in Javascript and mainy consists referals, currency regeration, time-based rewards etc. </p>
            <p> Playfab also acts as a key-value store which is used to store player data, inventory, statistics and other game data. This store is queiered from the client-side and all responses are in the form of JSON elements. </p>
            <p> For more information please visit the landing page via the link above or consider downloading to see for yourself. </p>
        </div>
    </div>
</div>

<br />

<div data-aos="slide-left">
    <div class="scrolling-section">
        <button class="svg" onclick="location.href='http://rpmdundee.co.uk/';">Visit Website</button>
        <button class="svg" onclick="https://github.com/ggillespie948/RPMJoinery">GitHub</button>
        <h2 style="font-weight:bold; color:white;">RPM Joinery & Maintenance </h2>

        <div class="col-lg-7">
            <img src="~/Image/rpmwebsitepreview.PNG" />
        </div>

        <div class="col-lg-5">
            <p> RPM Joinery and Maintenace is an ASP.NEt Mvc 5 website created to allow the company to dispaly past and future project work. </p>
        </div>


    </div>
</div>

<br />

<div data-aos="slide-right">
    <div class="scrolling-section">
        <button class="svg" onclick="http://totallyoddlanding.azurewebsites.net">Visit Website</button>
        <button class="svg" onclick="https://github.com/ggillespie948/TotallyOddLandingPage" >GitHub</button>
        <h2 style="font-weight:bold; color:white;">Totally Odd - Number Game (Official Landing Page)</h2>
    </div>
</div>

<br />

<div data-aos="slide-left">
    <div class="scrolling-section">
        <button class="svg">Visit Website</button>
        <button class="svg">GitHub</button>
        <h2 style="font-weight:bold; color:white;">DUSA Media - Big Data Analytics Dashboard</h2>
    </div>
</div>

<br />

<div data-aos="slide-right">
    <div class="scrolling-section">
        <button class="svg">Visit Website</button>
        <button class="svg">GitHub</button>
        <h2 style="font-weight:bold; color:white;">Personal Portfolio Website</h2>
    </div>
</div>

<br />


<!--My Skills -->
<div data-aos="fade-up">
    <div class="scrolling-section-lg">
        <h2 style="font-weight:bold;"> My Skills </h2>
        <h2> C# </h2>
        <h2> Javascript </h2>
        <h2> .Net MVC / Core </h2>
        <h2> Unity </h2>
        <h2> Entity Framework </h2>
        <h2> PHP (Yii) </h2>
        <h2> C++ </h2>
        <h2> Xamarin </h2>
    </div>
</div>

<!-- Contact -->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<script>
    $(document).ready(function () {
        // Transition effect for navbar
        $(window).scroll(function () {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if ($(this).scrollTop() > 500) {
                $('.navbar').addClass('solid');
            } else {
                $('.navbar').removeClass('solid');
            }
        });
    });
</script>